.git
.gitignore
.github
node_modules
npm-debug.log
yarn-error.log
/.vscode
/.idea
*.swp
*.swo
*~
.DS_Store
.env.local
.env.*.local
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
*.md
