[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=1000
max_allowed_packet=256M
tmp_table_size=256M
max_heap_table_size=256M
query_cache_limit=2M
query_cache_size=64M
query_cache_type=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2

[mysqldump]
quick
quote-names
max_allowed_packet=256M
