#hero {
    background-color: $white;
    .slider {
        @extend .p-t-60;
        @extend .p-b-60;
        background-position: top right;
        background-repeat: no-repeat;
        max-height: 600px;
        height: 600px;        

        .title {
            @extend .m-t-50;
            @extend .m-b-15;
            font-size: 45px;
            color: #263238;
            line-height: 50px;
            font-weight: $font-weight-normal;
            
            span{                
                font-weight: $font-weight-light;
                font-size: 30px;
            }
            strong{
                font-weight: $font-weight-bold;
            }
        }
        .sub-title{
            @extend .m-b-0;
            font-size: 16px;
            color: $grey-600;            
            max-width: 400px;
        }
    }
}